google-cloud-vision
google-cloud-aiplatform
openai
gradio
google-cloud-secret-manager
cryptography
futures
deep-translator
transformers
boto3
pillow
torch
python-jose
python-multipart
python-dotenv
nltk
google-api-python-client
scikit-learn